*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background: rgb(29, 29, 29);
    font-family: 'Oswald', sans-serif;
    color: #F4EEE0;
    /* background-image:url(uchiha\ clan.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-kerning: none;

} 
::-webkit-scrollbar {
    width: 0px;
}

@keyframes  header-slide{
    from{
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}

.header{
    
    position: fixed;
    width: 100%;
    background: transparent;
    top:0%;
    padding: 15px 8%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.logo{
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px #e7ddc8
}


.navbar a{
    font-weight: 500;
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
}


.navbar a:hover {
    color: #bfb7a5;
    font-size: 20px;
    text-decoration-line: underline;
    /* text-shadow: 0px 0px 2px white; */
}


.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 8%;
    justify-content: center;
}

.homecontent{

    background: transparent;
    z-index: 100;

}

h1{
    font-size: 100px;
    font-weight: 900;
    color: #720455;
    animation: ani 0.5s ease-in 0s 1,ani-1 2s ease-in 0s infinite;
}

h1:hover{
    color: #1d1d1d;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    animation-duration: 0s;
}

@keyframes ani {
    0%{font-size: 140px;}
    10%{font-size: 136px;}
    20%{font-size: 132px;}
    30%{font-size: 128px;}
    40%{font-size: 124px;}
    50%{font-size: 120px;}
    60%{font-size: 116px;}
    70%{font-size: 112px;}
    80%{font-size: 108px;}
    90%{font-size: 104px;}
    100%{font-size: 100px;}
    
}




@keyframes ani-1 {
    0% { color: #720455;text-shadow: 0px 0px 10px #720455;}
    25%{ color: #D63484;text-shadow: 0px 0px 10px #D63484;}
    50%{ color: #BE3144;text-shadow: 0px 0px 10px #BE3144;}
    75%{ color: #F05941;text-shadow: 0px 0px 10px #F05941;}
    100%{ color: #872341;text-shadow: 0px 0px 10px #872341;}
}



.bubble-1{

    right: 20px;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 100px;
    background-color:wheat;
    animation: down 15s ease-in 0s infinite normal ;
    z-index: 100;
}

.bubble-2{

    right: 40px;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 100px;
    background-color:wheat;
    animation: down 15s ease-in 0s infinite normal ;
    z-index: 100;
}

.bubble-3{
    right: 60px;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 100px;
    background-color:wheat;
    animation: down 15s ease-in 0s infinite normal ;
    z-index: 100;
}

.bubble-4{
    right: 80px;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 100px;
    background-color:wheat;
    animation: down 15s ease-in 0s infinite normal ;
    z-index: 100;
}

@keyframes down {

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
    }
    
}


.boxes{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    overflow: hidden;

    /* top: 0%; */
    /* z-index: 90; */
}

.boxes div{
    /* width: 40px;
    height: 40px; */
    bottom: 0%;
    color: #1d1d1d;
    /* border-radius: 5px; */
    margin-top: 50%;
    background: #393646;
    /* box-shadow: 0px 0px 20px #B6BBC4; */
}

.boxes div:hover{
    background: #4F4557;
}

.bx-1{
    width: 150px;
    height: 150px;
    background: #4F4557;
    animation: cs 12s ease-in -6s infinite;
}


.bx-2{
    width: 60px;
    height: 60px;
    background: #4F4557;
    animation: cs 20s ease-in -6s infinite;
}


.bx-3{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 20s ease-in -4s infinite;
}


.bx-4{
    width: 150px;
    height: 150px;
    background: #4F4557;
    animation: cs 7s ease-in -4s infinite;
}

.bx-5{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 6s ease-in -4s infinite;
}

.bx-6{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 10s ease-in -4s infinite;
}

.bx-7{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 5s ease-in -4s infinite;
}

.bx-8{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 9s ease-in -4s infinite;
}

.bx-9{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 8s ease-in -4s infinite;
}

.bx-10{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 10s ease-in -4s infinite;
}

.bx-11{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 5s ease-in -4s infinite;
}

.bx-12{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 15s ease-in -4s infinite;
}

.bx-13{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 12s ease-in -4s infinite;
}

.bx-14{
    width: 80px;
    height: 80px;
    background: #4F4557;
    animation: cs 10s ease-in -4s infinite;
}

.bx-15{
    width: 100px;
    height: 100px;
    background: #4F4557;
    animation: cs 15s ease-in -4s infinite;
}

.bx-16{
    width: 200px;
    height: 200px;
    background: #4F4557;
    animation: cs 8s ease-in -5s infinite ;
}

@keyframes cs {
    from{
        transform:translateY(0px) rotate(0deg);
    }
    to{
        transform: translateY(-850px) rotate(270deg);
    } 
}